N8N.json
{
    "name": "Contextual Project Analysis - Complete",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "contextual-project-analysis",
          "options": {}
        },
        "id": "f8e8e2f1-4a2c-4b6e-9c3d-8e2f1a2b3c4d",
        "name": "Webhook - Contextual Project Analysis",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 300],
        "webhookId": "contextual-project-webhook"
      },
      {
        "parameters": {
          "jsCode": "const payload = $input.first().json;\n\nconsole.log('📥 Réception analyse contextuelle');\nconsole.log('📊 Projet:', payload.project_data.metadata.name);\nconsole.log('🎯 Objectif:', payload.business_context.project_objective);\n\nif (!payload.project_data || !payload.business_context) {\n  throw new Error('Données projet ou contexte manquants');\n}\n\nif (!payload.business_context.project_objective || !payload.business_context.target_users) {\n  throw new Error('Objectif projet et utilisateurs requis');\n}\n\nconst enrichedData = {\n  ...payload,\n  analysis_scope: {\n    total_screens: payload.project_data.screens.length,\n    total_pages: payload.project_data.metadata.total_pages,\n    complexity_estimated: calculateProjectComplexity(payload.project_data.screens),\n    user_roles_detected: extractUserRoles(payload.business_context.target_users)\n  },\n  workflow_metadata: {\n    workflow_id: $workflow.id,\n    execution_id: $execution.id,\n    started_at: new Date().toISOString(),\n    analysis_type: \"contextual_comprehensive\"\n  }\n};\n\nconsole.log('✅ Données enrichies et validées');\nreturn [{ json: enrichedData }];\n\nfunction calculateProjectComplexity(screens) {\n  if (!screens || screens.length === 0) return 1;\n  let totalComplexity = 0;\n  screens.forEach(screen => {\n    let screenComplexity = 1;\n    if (screen.content_analysis) {\n      screenComplexity += (screen.content_analysis.interactive_elements?.length || 0) * 0.5;\n      screenComplexity += (screen.content_analysis.form_fields?.field_count || 0) * 0.3;\n      screenComplexity += (screen.connections?.length || 0) * 0.4;\n    }\n    totalComplexity += Math.min(screenComplexity, 10);\n  });\n  return Math.round(totalComplexity / screens.length * 10) / 10;\n}\n\nfunction extractUserRoles(usersString) {\n  if (!usersString) return [];\n  const roleKeywords = {\n    'admin': ['admin', 'administrateur'],\n    'client': ['client', 'utilisateur final'],\n    'commercial': ['commercial', 'vendeur'],\n    'manager': ['manager', 'responsable']\n  };\n  const detectedRoles = [];\n  const lowerUsers = usersString.toLowerCase();\n  Object.entries(roleKeywords).forEach(([role, keywords]) => {\n    if (keywords.some(keyword => lowerUsers.includes(keyword))) {\n      detectedRoles.push(role);\n    }\n  });\n  return detectedRoles.length > 0 ? detectedRoles : ['utilisateur'];\n}"
        },
        "id": "a1b2c3d4-5e6f-7g8h-9i0j-k1l2m3n4o5p6",
        "name": "Validate & Enrich Contextual Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [400, 300]
      },
      {
        "parameters": {
          "resource": "text",
          "operation": "message",
          "model": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "GPT-4O"
          },
          "options": {
            "temperature": 0.2,
            "maximumTokens": 8000
          },
          "text": "# 🎯 ANALYSE CONTEXTUELLE SPÉCIALISÉE - PRODUCT MANAGER EXPERT\n\nTu es un Product Manager senior qui génère des spécifications parfaitement adaptées au contexte métier.\n\n## 📋 CONTEXTE BUSINESS\n**Objectif projet** : {{$json.business_context.project_objective}}\n**Utilisateurs cibles** : {{$json.business_context.target_users}}\n**Type de projet** : {{$json.business_context.project_type}}\n**Niveau documentation** : {{$json.business_context.detail_level}}\n**Intégrations requises** : {{$json.business_context.required_integrations}}\n\n## 📊 DONNÉES PROJET FIGMA\n**Nom projet** : {{$json.project_data.metadata.name}}\n**Nombre d'écrans** : {{$json.project_data.screens.length}}\n**Pages détectées** : {{$json.project_data.metadata.total_pages}}\n**Complexité estimée** : {{$json.analysis_scope.complexity_estimated}}/10\n\n### 🖼️ Écrans détectés :\n{{#each $json.project_data.screens}}\n#### {{name}} (Page: {{page}})\n- **Screenshot** : {{screenshot_url}}\n- **Éléments interactifs** : {{content_analysis.interactive_elements.length}} détectés\n- **Connexions** : {{connections.length}} interactions\n{{/each}}\n\n## 🎯 MISSION\nGénère une structure PM/PO complète avec User Stories adaptées au contexte métier.\n\n## 📝 FORMAT JSON OBLIGATOIRE\n\n```json\n{\n  \"contextual_analysis\": {\n    \"business_summary\": {\n      \"project_vision\": \"[Vision adaptée au contexte]\",\n      \"target_outcome\": \"[Résultat attendu selon l'objectif]\",\n      \"success_metrics\": [\"[KPIs spécifiques au métier]\"],\n      \"context_alignment\": \"[Comment le projet répond au contexte]\"\n    },\n    \"epics\": [\n      {\n        \"id\": \"EPIC-001\",\n        \"title\": \"Epic : [Nom adapté au métier]\",\n        \"business_objective\": \"[Objectif aligné sur le contexte]\",\n        \"target_users\": [\"[Rôles exacts depuis le contexte]\"],\n        \"success_criteria\": [\"[Critères spécifiques au domaine]\"],\n        \"context_value\": \"[Valeur dans le contexte]\",\n        \"estimated_points\": 50,\n        \"features_ids\": [\"FEAT-001\", \"FEAT-002\"]\n      }\n    ],\n    \"features\": [\n      {\n        \"id\": \"FEAT-001\",\n        \"epic_id\": \"EPIC-001\",\n        \"title\": \"Feature : [Nom contextualisé]\",\n        \"description\": \"[Description adaptée au métier]\",\n        \"user_value\": \"[Valeur pour les utilisateurs]\",\n        \"screens_included\": [\"[Noms des écrans]\"],\n        \"estimated_points\": 20,\n        \"user_stories_ids\": [\"US-001\", \"US-002\"]\n      }\n    ],\n    \"user_stories\": [\n      {\n        \"id\": \"US-001\",\n        \"feature_id\": \"FEAT-001\",\n        \"title\": \"[Titre contextualisé]\",\n        \"contextualized_story\": {\n          \"user_role\": \"[Rôle depuis le contexte]\",\n          \"user_want\": \"[Action adaptée à l'objectif]\",\n          \"user_goal\": \"[Bénéfice aligné sur la valeur métier]\",\n          \"full_story\": \"En tant que [rôle], je veux [action], afin de [bénéfice]\"\n        },\n        \"business_acceptance_criteria\": [\n          {\n            \"scenario\": \"[Scénario métier]\",\n            \"given\": \"[Contexte métier]\",\n            \"when\": \"[Action dans le contexte]\",\n            \"then\": \"[Résultat attendu]\"\n          }\n        ],\n        \"domain_specific_rules\": [\"[Règles métier du domaine]\"],\n        \"context_integrations\": [\"[Intégrations basées sur le contexte]\"],\n        \"complexity_analysis\": {\n          \"fibonacci_score\": 5,\n          \"complexity_factors\": [\"[Facteurs de complexité]\"],\n          \"context_complexity\": \"[Complexité due au contexte]\"\n        },\n        \"story_points\": 5,\n        \"priority\": \"High\",\n        \"screen_reference\": {\n          \"screen_name\": \"[Nom écran Figma]\",\n          \"figma_url\": \"[URL directe]\",\n          \"screenshot_url\": \"[URL capture]\"\n        }\n      }\n    ],\n    \"technical_specifications\": {\n      \"contextual_integrations\": [\n        {\n          \"system\": \"[Système depuis contexte]\",\n          \"purpose\": \"[Pourquoi dans ce contexte]\",\n          \"data_flow\": \"[Comment les données circulent]\",\n          \"business_impact\": \"[Impact sur l'objectif métier]\"\n        }\n      ],\n      \"performance_requirements\": [\"[Selon utilisateurs et contexte]\"],\n      \"security_considerations\": [\"[Selon type projet]\"],\n      \"scalability_needs\": [\"[Selon objectifs de croissance]\"]\n    },\n    \"project_metrics\": {\n      \"total_story_points\": 150,\n      \"estimated_sprints\": 6,\n      \"estimated_duration\": \"3-4 mois\",\n      \"team_size_recommendation\": \"5-7 développeurs\",\n      \"context_risk_level\": \"Medium\",\n      \"business_value_score\": \"High\"\n    }\n  }\n}\n```\n\n**INSTRUCTIONS CRITIQUES :**\n1. ADAPTE tout le vocabulaire au contexte métier fourni\n2. UTILISE les rôles utilisateurs exacts mentionnés\n3. ALIGNE tous les objectifs sur la vision projet\n4. INTÈGRE les contraintes d'intégration spécifiées\n5. GÉNÈRE des spécifications ACTIONABLES\n6. BASE-TOI uniquement sur l'analyse des écrans fournis"
        },
        "id": "b2c3d4e5-6f7g-8h9i-0j1k-l2m3n4o5p6q7",
        "name": "AI Agent - Contextual Analysis",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [600, 300],
        "credentials": {
          "openAiApi": {
            "id": "your-openai-credential-id",
            "name": "OpenAI Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const aiResponse = $input.first().json;\nconst contextData = $node[\"Validate & Enrich Contextual Data\"].json;\n\nconsole.log('🏗️ Structuration réponse IA pour Tuleap...');\n\nlet contextualAnalysis;\ntry {\n  const aiContent = aiResponse.content || aiResponse.message?.content || aiResponse.choices?.[0]?.message?.content || aiResponse.text;\n  \n  if (!aiContent) {\n    throw new Error('Contenu IA vide');\n  }\n  \n  const jsonMatch = aiContent.match(/```json\\n([\\s\\S]*?)\\n```/);\n  if (jsonMatch) {\n    contextualAnalysis = JSON.parse(jsonMatch[1]);\n  } else {\n    contextualAnalysis = JSON.parse(aiContent);\n  }\n  \n  console.log('✅ JSON IA parsé avec succès');\n  \n} catch (error) {\n  console.error('❌ Erreur parsing IA:', error.message);\n  throw new Error(`Erreur parsing IA: ${error.message}`);\n}\n\nif (!contextualAnalysis.contextual_analysis) {\n  throw new Error('Structure IA invalide');\n}\n\nconst analysis = contextualAnalysis.contextual_analysis;\n\nconst tuleapStructure = {\n  metadata: {\n    project_name: contextData.project_data.metadata.name,\n    figma_url: contextData.project_data.metadata.figma_url,\n    analysis_type: \"contextual_comprehensive\",\n    generated_at: new Date().toISOString(),\n    ai_model: \"gpt-4o\",\n    context_applied: contextData.business_context,\n    workflow_version: \"2.0.0\"\n  },\n  hierarchy: {\n    business_summary: analysis.business_summary,\n    epics: analysis.epics || [],\n    features: analysis.features || [],\n    user_stories: analysis.user_stories || [],\n    technical_specs: analysis.technical_specifications || {}\n  },\n  project_metrics: {\n    ...analysis.project_metrics,\n    original_screens_count: contextData.project_data.screens.length\n  },\n  tuleap_config: {\n    base_url: \"https://agile.box.africa\",\n    project_prefix: generateProjectPrefix(contextData.project_data.metadata.name),\n    trackers: {\n      epic: 365,\n      feature: 366,\n      user_story: 367,\n      specification: 369\n    },\n    tags: [\"figma-generated\", \"contextual-analysis\", contextData.business_context.project_type]\n  },\n  validation: {\n    structure_valid: validateStructure(analysis),\n    total_artifacts: calculateTotalArtifacts(analysis)\n  }\n};\n\nconsole.log(`✅ Structure Tuleap préparée: ${tuleapStructure.hierarchy.epics.length} épics, ${tuleapStructure.hierarchy.user_stories.length} stories`);\n\nreturn [{ json: tuleapStructure }];\n\nfunction generateProjectPrefix(projectName) {\n  return projectName.toLowerCase().replace(/[^a-z0-9\\s]/g, '').replace(/\\s+/g, '-').substring(0, 20);\n}\n\nfunction validateStructure(analysis) {\n  return analysis.epics && analysis.epics.length > 0 && analysis.user_stories && analysis.user_stories.length > 0;\n}\n\nfunction calculateTotalArtifacts(analysis) {\n  return (analysis.epics?.length || 0) + (analysis.features?.length || 0) + (analysis.user_stories?.length || 0);\n}"
        },
        "id": "c3d4e5f6-7g8h-9i0j-1k2l-m3n4o5p6q7r8",
        "name": "Process Contextual Analysis",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [800, 300]
      },
    {
      "parameters": {
        "jsCode": "// Création de la hiérarchie complète dans Tuleap avec contexte métier\nconst structureData = $input.first().json;\n\nconsole.log('🏛️ Création hiérarchie Tuleap contextuelle...');\nconsole.log(`📊 À créer: ${structureData.hierarchy.epics.length} épics, ${structureData.hierarchy.features.length} features, ${structureData.hierarchy.user_stories.length} stories`);\n\nconst tuleapResults = {\n  created_artifacts: {\n    epics: [],\n    features: [],\n    stories: [],\n    specifications: []\n  },\n  project_urls: {},\n  creation_summary: {},\n  context_integration: structureData.metadata.context_applied,\n  errors: []\n};\n\ntry {\n  // ═══════════════════════════════════════════════════════════════════\n  // 1. CRÉATION DES ÉPICS CONTEXTUALISÉS\n  // ═══════════════════════════════════════════════════════════════════\n  \n  for (const epic of structureData.hierarchy.epics) {\n    console.log(`📝 Création Epic contextualisé: ${epic.title}`);\n    \n    const epicArtifact = await createTuleapArtifact({\n      tracker_id: structureData.tuleap_config.trackers.epic,\n      title: epic.title,\n      description: formatContextualEpicDescription(epic, structureData.metadata),\n      \n      // Champs spécifiques Epic\n      business_objective: epic.business_objective,\n      target_users: epic.target_users?.join(', ') || '',\n      success_criteria: epic.success_criteria?.join('\\n') || '',\n      context_value: epic.context_value || '',\n      estimated_points: epic.estimated_points || 0,\n      \n      // Métadonnées\n      category: \"Epic\",\n      priority: \"High\",\n      status: \"New\",\n      \n      // Tags contextuels\n      tags: [\n        ...structureData.tuleap_config.tags,\n        \"epic\",\n        epic.id.toLowerCase(),\n        structureData.metadata.context_applied.project_type\n      ],\n      \n      // Références\n      figma_project_url: structureData.metadata.figma_url,\n      generated_from: \"figma_contextual_analysis\",\n      original_epic_id: epic.id\n    });\n    \n    tuleapResults.created_artifacts.epics.push(epicArtifact);\n  }\n  \n  // ═══════════════════════════════════════════════════════════════════\n  // 2. CRÉATION DES FEATURES CONTEXTUALISÉES\n  // ═══════════════════════════════════════════════════════════════════\n  \n  for (const feature of structureData.hierarchy.features) {\n    console.log(`📋 Création Feature contextualisée: ${feature.title}`);\n    \n    // Recherche de l'Epic parent\n    const parentEpic = tuleapResults.created_artifacts.epics.find(e => \n      e.original_epic_id === feature.epic_id\n    );\n    \n    const featureArtifact = await createTuleapArtifact({\n      tracker_id: structureData.tuleap_config.trackers.feature,\n      title: feature.title,\n      description: formatContextualFeatureDescription(feature, structureData.metadata),\n      \n      // Lien hiérarchique\n      parent_id: parentEpic?.id,\n      parent_epic: parentEpic?.title || '',\n      \n      // Champs spécifiques Feature\n      user_value: feature.user_value || '',\n      screens_included: feature.screens_included?.join(', ') || '',\n      estimated_points: feature.estimated_points || 0,\n      \n      // Métadonnées\n      category: \"Feature\",\n      priority: \"Medium\",\n      status: \"New\",\n      \n      // Tags\n      tags: [\n        ...structureData.tuleap_config.tags,\n        \"feature\",\n        feature.id.toLowerCase()\n      ],\n      \n      original_feature_id: feature.id\n    });\n    \n    tuleapResults.created_artifacts.features.push(featureArtifact);\n  }\n  \n  // ═══════════════════════════════════════════════════════════════════\n  // 3. CRÉATION DES USER STORIES CONTEXTUALISÉES\n  // ═══════════════════════════════════════════════════════════════════\n  \n  for (const story of structureData.hierarchy.user_stories) {\n    console.log(`📄 Création User Story contextualisée: ${story.title}`);\n    \n    // Recherche de la Feature parente\n    const parentFeature = tuleapResults.created_artifacts.features.find(f => \n      f.original_feature_id === story.feature_id\n    );\n    \n    const storyArtifact = await createTuleapArtifact({\n      tracker_id: structureData.tuleap_config.trackers.user_story,\n      title: story.title,\n      description: formatContextualStoryDescription(story, structureData.metadata),\n      \n      // Lien hiérarchique\n      parent_id: parentFeature?.id,\n      parent_feature: parentFeature?.title || '',\n      \n      // Champs User Story spécifiques\n      story_format: story.contextualized_story?.full_story || '',\n      user_role: story.contextualized_story?.user_role || '',\n      user_want: story.contextualized_story?.user_want || '',\n      user_goal: story.contextualized_story?.user_goal || '',\n      \n      // Critères et règles\n      acceptance_criteria: formatAcceptanceCriteria(story.business_acceptance_criteria),\n      business_rules: story.domain_specific_rules?.join('\\n') || '',\n      integration_requirements: story.context_integrations?.join('\\n') || '',\n      \n      // Complexité et estimation\n      complexity_score: story.complexity_analysis?.fibonacci_score || 1,\n      complexity_factors: story.complexity_analysis?.complexity_factors?.join(', ') || '',\n      context_complexity: story.complexity_analysis?.context_complexity || '',\n      story_points: story.story_points || 1,\n      \n      // Références Figma\n      figma_screen_url: story.screen_reference?.figma_url || '',\n      screenshot_url: story.screen_reference?.screenshot_url || '',\n      screen_name: story.screen_reference?.screen_name || '',\n      \n      // Métadonnées\n      category: \"User Story\",\n      priority: story.priority || \"Medium\",\n      status: \"New\",\n      \n      // Tags contextuels\n      tags: [\n        ...structureData.tuleap_config.tags,\n        \"user-story\",\n        story.id.toLowerCase(),\n        story.contextualized_story?.user_role?.toLowerCase().replace(/\\s+/g, '-') || 'user',\n        story.screen_reference?.screen_name?.toLowerCase().replace(/\\s+/g, '-') || 'screen'\n      ],\n      \n      original_story_id: story.id\n    });\n    \n    tuleapResults.created_artifacts.stories.push(storyArtifact);\n    \n    // ═══════════════════════════════════════════════════════════════════\n    // 4. CRÉATION SPÉCIFICATION TECHNIQUE pour chaque Story\n    // ═══════════════════════════════════════════════════════════════════\n    \n    const specArtifact = await createTuleapArtifact({\n      tracker_id: structureData.tuleap_config.trackers.specification,\n      title: `SPEC-${story.id.replace('US-', '')}: Spécification ${story.screen_reference?.screen_name || story.title}`,\n      description: formatTechnicalSpecification(story, structureData.hierarchy.technical_specs, structureData.metadata),\n      \n      // Lien hiérarchique\n      parent_id: storyArtifact.id,\n      parent_story: storyArtifact.title,\n      \n      // Spécifications techniques\n      technical_requirements: formatTechnicalRequirements(story, structureData.hierarchy.technical_specs),\n      integration_details: formatIntegrationDetails(story, structureData.hierarchy.technical_specs),\n      performance_criteria: extractPerformanceCriteria(story, structureData.hierarchy.technical_specs),\n      security_requirements: extractSecurityRequirements(story, structureData.hierarchy.technical_specs),\n      \n      // Métadonnées\n      category: \"Technical Specification\",\n      priority: \"Medium\",\n      status: \"New\",\n      \n      tags: [\n        ...structureData.tuleap_config.tags,\n        \"specification\",\n        \"technical\",\n        story.id.toLowerCase()\n      ],\n      \n      original_story_id: story.id\n    });\n    \n    tuleapResults.created_artifacts.specifications.push(specArtifact);\n  }\n  \n  // ═══════════════════════════════════════════════════════════════════\n  // 5. FINALISATION ET RÉSUMÉ\n  // ═══════════════════════════════════════════════════════════════════\n  \n  tuleapResults.creation_summary = {\n    total_artifacts: Object.values(tuleapResults.created_artifacts).flat().length,\n    epics_created: tuleapResults.created_artifacts.epics.length,\n    features_created: tuleapResults.created_artifacts.features.length,\n    stories_created: tuleapResults.created_artifacts.stories.length,\n    specifications_created: tuleapResults.created_artifacts.specifications.length,\n    \n    // Métriques du projet\n    total_story_points: structureData.project_metrics?.total_story_points || 0,\n    estimated_sprints: structureData.project_metrics?.estimated_sprints || 0,\n    estimated_duration: structureData.project_metrics?.estimated_duration || 'Non estimé',\n    team_size_recommendation: structureData.project_metrics?.team_size_recommendation || '5-7 développeurs',\n    \n    // Contexte intégré\n    context_integration_score: structureData.project_metrics?.context_integration_score || 0,\n    business_value_score: structureData.project_metrics?.business_value_score || 'Medium',\n    \n    // Timing\n    creation_completed_at: new Date().toISOString(),\n    creation_duration: calculateCreationDuration(structureData.metadata.generated_at)\n  };\n  \n  tuleapResults.project_urls = {\n    main_project: `${structureData.tuleap_config.base_url}/projects/${structureData.tuleap_config.project_prefix}`,\n    epics_board: `${structureData.tuleap_config.base_url}/plugins/agiledashboard/?group_id=${structureData.tuleap_config.project_prefix}&planning_id=epics`,\n    backlog: `${structureData.tuleap_config.base_url}/plugins/agiledashboard/?group_id=${structureData.tuleap_config.project_prefix}&planning_id=backlog`,\n    kanban: `${structureData.tuleap_config.base_url}/plugins/agiledashboard/?group_id=${structureData.tuleap_config.project_prefix}&planning_id=kanban`\n  };\n  \n  console.log('✅ Hiérarchie Tuleap créée avec succès !');\n  console.log(`📊 ${tuleapResults.creation_summary.total_artifacts} artifacts créés`);\n  console.log(`🎯 Score intégration contexte: ${tuleapResults.creation_summary.context_integration_score}%`);\n  \n} catch (error) {\n  console.error('❌ Erreur création Tuleap:', error.message);\n  tuleapResults.errors.push({\n    error: error.message,\n    timestamp: new Date().toISOString(),\n    context: 'tuleap_creation'\n  });\n}\n\nreturn [{ json: tuleapResults }];\n\n// ═══════════════════════════════════════════════════════════════════\n// FONCTIONS DE CRÉATION TULEAP\n// ═══════════════════════════════════════════════════════════════════\n\nasync function createTuleapArtifact(artifactData) {\n  // Générer l'ID d'abord pour éviter la référence circulaire\n  const artifactId = Math.floor(Math.random() * 10000) + 1000;\n  \n  const artifact = {\n    id: artifactId,\n    url: `${structureData.tuleap_config.base_url}/plugins/tracker/?aid=${artifactId}`,\n    created_at: new Date().toISOString(),\n    ...artifactData\n  };\n  \n  // Simulation d'appel API Tuleap (à remplacer par un vrai appel API)\n  console.log(`🔄 Création artifact Tuleap: ${artifact.title} (ID: ${artifact.id})`);\n  \n  return artifact;\n}\n\n// ═══════════════════════════════════════════════════════════════════\n// FONCTIONS DE FORMATAGE\n// ═══════════════════════════════════════════════════════════════════\n\nfunction formatContextualEpicDescription(epic, metadata) {\n  return `# ${epic.title}\n\n## 🎯 Objectif métier contextualisé\n${epic.business_objective}\n\n## 👥 Utilisateurs cibles\n${epic.target_users?.join(', ') || 'Non spécifié'}\n\n## 📊 Critères de succès spécifiques\n${epic.success_criteria?.map(criteria => `- ${criteria}`).join('\\n') || 'Non défini'}\n\n## 💼 Valeur dans le contexte\n${epic.context_value || 'Non spécifiée'}\n\n## 📈 Estimation\n- **Story points** : ${epic.estimated_points || 0}\n- **Features incluses** : ${epic.features_ids?.length || 0}\n\n## 🔗 Contexte projet\n- **Objectif global** : ${metadata.context_applied.project_objective}\n- **Type de projet** : ${metadata.context_applied.project_type}\n- **Utilisateurs principaux** : ${metadata.context_applied.target_users}\n- **Intégrations** : ${metadata.context_applied.required_integrations || 'Aucune'}\n\n## 🎨 Références\n- **Figma projet** : [Voir le projet](${metadata.figma_url})\n- **Généré le** : ${new Date(metadata.generated_at).toLocaleDateString()}\n\n---\n*Epic généré automatiquement avec analyse contextuelle IA*\n`;\n}\n\nfunction formatContextualFeatureDescription(feature, metadata) {\n  return `# ${feature.title}\n\n## 📋 Description fonctionnelle\n${feature.description || 'Non spécifiée'}\n\n## 💡 Valeur utilisateur\n${feature.user_value || 'Non spécifiée'}\n\n## 📱 Écrans inclus\n${feature.screens_included?.map(screen => `- ${screen}`).join('\\n') || 'Non spécifié'}\n\n## 📊 Estimation\n- **Story points** : ${feature.estimated_points || 0}\n- **User Stories** : ${feature.user_stories_ids?.length || 0}\n\n## 🔗 Contexte métier\n- **Alignement objectif** : ${metadata.context_applied.project_objective}\n- **Impact utilisateurs** : ${metadata.context_applied.target_users}\n\n---\n*Feature générée avec contexte métier intégré*\n`;\n}\n\nfunction formatContextualStoryDescription(story, metadata) {\n  return `# ${story.title}\n\n## 📝 User Story Contextualisée\n**${story.contextualized_story?.full_story || 'Story non définie'}**\n\n### 👤 Détail des rôles\n- **Utilisateur** : ${story.contextualized_story?.user_role || 'Non spécifié'}\n- **Action souhaitée** : ${story.contextualized_story?.user_want || 'Non spécifiée'}\n- **Bénéfice attendu** : ${story.contextualized_story?.user_goal || 'Non spécifié'}\n\n## ✅ Critères d'acceptation métier\n${story.business_acceptance_criteria?.map(criteria => `\n### ${criteria.scenario || 'Scénario'}\n- **Étant donné** ${criteria.given || 'contexte non défini'}\n- **Quand** ${criteria.when || 'action non définie'}\n- **Alors** ${criteria.then || 'résultat non défini'}\n`).join('\\n') || 'Critères non définis'}\n\n## 🏢 Règles métier spécifiques\n${story.domain_specific_rules?.map(rule => `- ${rule}`).join('\\n') || 'Aucune règle spécifiée'}\n\n## 🔗 Intégrations contextuelles\n${story.context_integrations?.map(integration => `- ${integration}`).join('\\n') || 'Aucune intégration'}\n\n## 📊 Analyse de complexité\n- **Score Fibonacci** : ${story.complexity_analysis?.fibonacci_score || 1}/13\n- **Story Points** : ${story.story_points || 1}\n- **Facteurs de complexité** : ${story.complexity_analysis?.complexity_factors?.join(', ') || 'Non analysés'}\n- **Complexité contexte** : ${story.complexity_analysis?.context_complexity || 'Non évaluée'}\n\n## 🎨 Références design\n- **Figma écran** : [${story.screen_reference?.screen_name || 'Écran'}](${story.screen_reference?.figma_url || '#'})\n- **Screenshot** : ![Capture](${story.screen_reference?.screenshot_url || '#'})\n\n## 🎯 Contexte projet\n- **Objectif global** : ${metadata.context_applied.project_objective}\n- **Utilisateurs cibles** : ${metadata.context_applied.target_users}\n- **Type de projet** : ${metadata.context_applied.project_type}\n- **Niveau requis** : ${metadata.context_applied.detail_level}\n\n## 📋 Métadonnées\n- **Généré depuis** : ${metadata.figma_url}\n- **Date génération** : ${new Date(metadata.generated_at).toLocaleDateString()}\n- **Type analyse** : ${metadata.analysis_type}\n- **Modèle IA** : ${metadata.ai_model}\n\n---\n*User Story générée avec analyse contextuelle métier complète*\n`;\n}\n\nfunction formatAcceptanceCriteria(criteria) {\n  if (!criteria || criteria.length === 0) {\n    return 'Critères d\\'acceptation à définir';\n  }\n  \n  return criteria.map(criterion => `\n### ${criterion.scenario || 'Scénario'}\n- Étant donné ${criterion.given || 'contexte'}\n- Quand ${criterion.when || 'action'}\n- Alors ${criterion.then || 'résultat'}\n`).join('\\n');\n}\n\nfunction formatTechnicalSpecification(story, technicalSpecs, metadata) {\n  return `# SPEC-${story.id.replace('US-', '')}: Spécification technique\n\n## 📋 User Story liée\n**${story.contextualized_story?.full_story || story.title}**\n\n## ⚙️ Spécifications techniques détaillées\n\n### Intégrations système\n${story.context_integrations?.map(integration => `- **${integration}** : Intégration requise selon le contexte métier`).join('\\n') || 'Aucune intégration spécifique'}\n\n### Règles de validation\n${story.business_acceptance_criteria?.map(criteria => `- **${criteria.scenario}** : Validation ${criteria.then}`).join('\\n') || 'Validations standards'}\n\n### Performance attendue\n${technicalSpecs?.performance_requirements?.map(perf => `- ${perf}`).join('\\n') || '- Temps de réponse < 2s\\n- Interface réactive'}\n\n### Sécurité\n${technicalSpecs?.security_considerations?.map(security => `- ${security}`).join('\\n') || '- Authentification requise\\n- Validation côté serveur'}\n\n### États de l'interface\n- **Loading** : Affichage pendant traitement\n- **Success** : Confirmation d'action réussie  \n- **Error** : Gestion des erreurs avec messages clairs\n- **Empty** : État vide avec guidage utilisateur\n\n## 🔗 Contexte d'implémentation\n- **Objectif projet** : ${metadata.context_applied.project_objective}\n- **Utilisateurs** : ${metadata.context_applied.target_users}\n- **Intégrations contextuelles** : ${metadata.context_applied.required_integrations || 'Aucune'}\n\n## 🎨 Référence design\n- **Figma** : [${story.screen_reference?.screen_name}](${story.screen_reference?.figma_url})\n- **Screenshot** : ![Interface](${story.screen_reference?.screenshot_url})\n\n---\n*Spécification technique générée avec contexte métier*\n`;\n}\n\nfunction formatTechnicalRequirements(story, technicalSpecs) {\n  const requirements = [];\n  \n  if (story.context_integrations?.length > 0) {\n    requirements.push(`Intégrations: ${story.context_integrations.join(', ')}`);\n  }\n  \n  if (technicalSpecs?.contextual_integrations?.length > 0) {\n    requirements.push(`APIs: ${technicalSpecs.contextual_integrations.map(i => i.system).join(', ')}`);\n  }\n  \n  requirements.push(`Complexité: ${story.complexity_analysis?.fibonacci_score || 1}/13`);\n  requirements.push(`Points: ${story.story_points || 1}`);\n  \n  return requirements.join('\\n');\n}\n\nfunction formatIntegrationDetails(story, technicalSpecs) {\n  if (!technicalSpecs?.contextual_integrations) {\n    return 'Aucune intégration spécifique';\n  }\n  \n  return technicalSpecs.contextual_integrations.map(integration => \n    `**${integration.system}** : ${integration.purpose} - ${integration.business_impact}`\n  ).join('\\n');\n}\n\nfunction extractPerformanceCriteria(story, technicalSpecs) {\n  const criteria = technicalSpecs?.performance_requirements || [];\n  if (criteria.length === 0) {\n    return 'Performance standard requise';\n  }\n  return criteria.join('\\n');\n}\n\nfunction extractSecurityRequirements(story, technicalSpecs) {\n  const security = technicalSpecs?.security_considerations || [];\n  if (security.length === 0) {\n    return 'Sécurité standard requise';\n  }\n  return security.join('\\n');\n}\n\nfunction calculateCreationDuration(startTime) {\n  const duration = Date.now() - new Date(startTime).getTime();\n  return `${Math.round(duration / 1000 / 60)} minutes`;\n}"
      },
      "id": "d4e5f6g7-8h9i-0j1k-2l3m-n4o5p6q7r8s9",
      "name": "Create Complete Tuleap Hierarchy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "// Notifications et finalisation de l'analyse contextuelle\nconst tuleapResults = $input.first().json;\nconst originalRequest = $node[\"Validate & Enrich Contextual Data\"].json;\n\nconsole.log('📬 Finalisation et notifications...');\n\n// Calcul de la durée totale\nconst totalDuration = calculateTotalDuration(originalRequest.workflow_metadata.started_at);\n\n// Préparation du résumé complet\nconst completionSummary = {\n  // Résumé exécutif\n  executive_summary: {\n    project_name: originalRequest.project_data.metadata.name,\n    analysis_type: \"contextual_comprehensive\",\n    total_duration: totalDuration,\n    completion_status: tuleapResults.errors.length === 0 ? \"success\" : \"partial_success\",\n    ai_confidence: \"high\",\n    context_integration: \"complete\"\n  },\n  \n  // Métadonnées du contexte appliqué\n  applied_context: {\n    project_objective: originalRequest.business_context.project_objective,\n    target_users: originalRequest.business_context.target_users,\n    project_type: originalRequest.business_context.project_type,\n    detail_level: originalRequest.business_context.detail_level,\n    integrations_required: originalRequest.business_context.required_integrations\n  },\n  \n  // Livrables créés\n  deliverables: {\n    epics_created: tuleapResults.creation_summary?.epics_created || 0,\n    features_created: tuleapResults.creation_summary?.features_created || 0,\n    stories_created: tuleapResults.creation_summary?.stories_created || 0,\n    specifications_created: tuleapResults.creation_summary?.specifications_created || 0,\n    total_artifacts: tuleapResults.creation_summary?.total_artifacts || 0\n  },\n  \n  // Estimation projet\n  project_estimation: {\n    total_story_points: tuleapResults.creation_summary?.total_story_points || 0,\n    estimated_sprints: tuleapResults.creation_summary?.estimated_sprints || 0,\n    estimated_duration: tuleapResults.creation_summary?.estimated_duration || 'Non estimé',\n    team_size_recommendation: tuleapResults.creation_summary?.team_size_recommendation || '5-7 développeurs',\n    business_value_score: tuleapResults.creation_summary?.business_value_score || 'Medium'\n  },\n  \n  // Qualité de l'analyse\n  quality_metrics: {\n    context_integration_score: tuleapResults.creation_summary?.context_integration_score || 0,\n    completeness_score: calculateCompletenessScore(tuleapResults),\n    structure_coherence: validateStructureCoherence(tuleapResults),\n    figma_traceability: \"complete\"\n  },\n  \n  // Liens d'accès\n  access_links: {\n    tuleap_project: tuleapResults.project_urls?.main_project,\n    epics_board: tuleapResults.project_urls?.epics_board,\n    backlog: tuleapResults.project_urls?.backlog,\n    kanban: tuleapResults.project_urls?.kanban,\n    figma_source: originalRequest.project_data.metadata.figma_url\n  },\n  \n  // Recommandations next steps\n  next_steps: generateContextualNextSteps(originalRequest.business_context, tuleapResults),\n  \n  // Erreurs éventuelles\n  issues: tuleapResults.errors || [],\n  \n  // Métadonnées workflow\n  workflow_metadata: {\n    workflow_id: originalRequest.workflow_metadata.workflow_id,\n    execution_id: originalRequest.workflow_metadata.execution_id,\n    completed_at: new Date().toISOString(),\n    processing_time: totalDuration,\n    screens_processed: originalRequest.analysis_scope.total_screens,\n    ai_model_used: \"gpt-4o\"\n  }\n};\n\n// Notifications\nconst notifications = {\n  plugin_callback: await notifyFigmaPlugin(completionSummary),\n  email_sent: await sendCompletionEmail(completionSummary),\n  monitoring_updated: await updateMonitoringDashboard(completionSummary)\n};\n\n// Log final\nconsole.log('✅ Analyse contextuelle terminée avec succès !');\nconsole.log(`📊 ${completionSummary.deliverables.total_artifacts} artifacts créés en ${totalDuration}`);\nconsole.log(`🎯 Score intégration contexte: ${completionSummary.quality_metrics.context_integration_score}%`);\nconsole.log(`📋 Projet Tuleap: ${completionSummary.access_links.tuleap_project}`);\n\n// Résultat final\nconst finalResult = {\n  ...completionSummary,\n  notifications: notifications,\n  success: true,\n  message: `Analyse contextuelle terminée: ${completionSummary.deliverables.total_artifacts} artifacts créés`\n};\n\nreturn [{ json: finalResult }];\n\n// ═══════════════════════════════════════════════════════════════════\n// FONCTIONS UTILITAIRES\n// ═══════════════════════════════════════════════════════════════════\n\nfunction calculateTotalDuration(startTime) {\n  const duration = Date.now() - new Date(startTime).getTime();\n  const minutes = Math.round(duration / 1000 / 60);\n  return `${minutes} minute${minutes > 1 ? 's' : ''}`;\n}\n\nfunction calculateCompletenessScore(results) {\n  if (!results.created_artifacts) return 0;\n  \n  const totalCreated = Object.values(results.created_artifacts).flat().length;\n  const expectedMin = 10; // Minimum attendu pour un projet complet\n  \n  return Math.min(Math.round((totalCreated / expectedMin) * 100), 100);\n}\n\nfunction validateStructureCoherence(results) {\n  if (!results.created_artifacts) return 'incomplete';\n  \n  const hasEpics = results.created_artifacts.epics.length > 0;\n  const hasFeatures = results.created_artifacts.features.length > 0;\n  const hasStories = results.created_artifacts.stories.length > 0;\n  const hasSpecs = results.created_artifacts.specifications.length > 0;\n  \n  if (hasEpics && hasFeatures && hasStories && hasSpecs) {\n    return 'complete';\n  } else if (hasEpics && hasStories) {\n    return 'partial';\n  } else {\n    return 'incomplete';\n  }\n}\n\nfunction generateContextualNextSteps(context, results) {\n  const steps = [\n    `Réviser les ${results.creation_summary?.epics_created || 0} épics créés dans Tuleap`,\n    `Planifier le backlog avec les ${results.creation_summary?.stories_created || 0} user stories`\n  ];\n  \n  if (context.required_integrations) {\n    steps.push(`Configurer les intégrations avec ${context.required_integrations}`);\n  }\n  \n  steps.push('Organiser une réunion de revue des spécifications techniques');\n  steps.push('Valider les critères d\\acceptation avec les parties prenantes');\n  \n  return steps;\n}\n\nasync function notifyFigmaPlugin(summary) {\n  console.log('📲 Notification au plugin Figma...');\n  // Simulation d'un appel de callback au plugin\n  return {\n    sent: true,\n    timestamp: new Date().toISOString(),\n    message: `Analyse terminée: ${summary.deliverables.total_artifacts} artifacts créés`\n  };\n}\n\nasync function sendCompletionEmail(summary) {\n  console.log('📧 Envoi email de complétion...');\n  // Simulation d'envoi d'email\n  return {\n    sent: true,\n    recipients: ['pm@example.com', 'dev-team@example.com'],\n    subject: `Analyse contextuelle terminée: ${summary.executive_summary.project_name}`\n  };\n}\n\nasync function updateMonitoringDashboard(summary) {\n  console.log('📊 Mise à jour dashboard monitoring...');\n  // Simulation mise à jour dashboard\n  return {\n    updated: true,\n    dashboard: 'https://monitoring.example.com/figma-integrations',\n    metrics_updated: ['completion_rate', 'context_score', 'artifacts_created']\n  };\n}"
      },
      "id": "e5f6g7h8-9i0j-1k2l-3m4n-o5p6q7r8s9t0",
      "name": "Send Completion Notifications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  \"success\": true,\n  \"message\": \"Analyse contextuelle terminée avec succès\",\n  \"workflow_id\": $json.workflow_metadata.workflow_id,\n  \"execution_id\": $json.workflow_metadata.execution_id,\n  \"duration\": $json.executive_summary.total_duration,\n  \"artifacts_created\": $json.deliverables.total_artifacts,\n  \"tuleap_project_url\": $json.access_links.tuleap_project,\n  \"figma_source\": $json.access_links.figma_source,\n  \"context_integration_score\": $json.quality_metrics.context_integration_score,\n  \"estimated_sprints\": $json.project_estimation.estimated_sprints,\n  \"next_steps\": $json.next_steps\n}, null, 2) }}"
      },
      "id": "f6g7h8i9-0j1k-2l3m-4n5o-p6q7r8s9t0u1",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Webhook - Contextual Project Analysis": {
      "main": [
        [
          {
            "node": "Validate & Enrich Contextual Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Enrich Contextual Data": {
      "main": [
        [
          {
            "node": "AI Agent - Contextual Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Contextual Analysis": {
      "main": [
        [
          {
            "node": "Process Contextual Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Contextual Analysis": {
      "main": [
        [
          {
            "node": "Create Complete Tuleap Hierarchy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Complete Tuleap Hierarchy": {
      "main": [
        [
          {
            "node": "Send Completion Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Completion Notifications": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": {
      "errorWorkflow": "error-handler-workflow"
    }
  },
  "staticData": {},
  "tags": [
    {
      "id": "contextual-analysis",
      "name": "Contextual Analysis"
    },
    {
      "id": "figma-integration", 
      "name": "Figma Integration"
    },
    {
      "id": "tuleap-automation",
      "name": "Tuleap Automation"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:30:00.000Z",
  "versionId": "v1.0.0"
}